# Node
node_modules/
npm-debug.log
yarn-error.log

# Mac
.DS_Store

# Editors
.vscode/
.idea/

# Build
build/
deploy/
.cache-loader/
.dockercfg

# Tests
/coverage
.env

# Others
.tmp/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
